html{
    scroll-behavior: smooth;
}
body{
    
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div{
    background-color: aqua;
    animation: expand 20s  1s infinite alternate-reverse ;
    width:9%;
}
@keyframes expand{
    from{
        height: 60px;
        background-color: aqua;


    }
    to{
        height: 80px;
        width: 40px;
        background-color: red;

    }

}